body {
    background-color: #dee2e4;
    padding-bottom: 40px;
}

.navbar {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #dee2e4 !important;
}

.navbar-light .navbar-brand {
    color: rgba(255, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #202020;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(136, 136, 136, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #7d7d7d;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
    padding-bottom: 0;
}

.ava {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 4px solid #c0cad0;
}

.chsitem {
    background: #fff;
    padding: 20px 30px;
    border-radius: .3rem;
    box-shadow: #cfd6da 0px 10px 10px;
    margin-top: 30px;
    transition: all 0.1s ease-in;
}

.chsitem {}

.jumbotron {
    border-left: 4px solid #d30000;
    background-color: #eef1f3;
}

.chsitem:hover {
    cursor: pointer;
    margin-top: 20px;
    box-shadow: #bec6cc 0px 20px 10px;
    margin-bottom: 10px;
    background-color: #38444a;
}

.chsitem:hover .counter {
    color: #fff;
}

.chsitem h3 {
    font-size: 20px;
    transition: all 0.1s ease-in;
    word-wrap: break-word;
    width: 240px;
    height: 24px;
}

.chsitem:hover h3 {
    color: #fff;
    transition: all 0.1s ease-in;
}

.vdsnbzh {
    background: url(vd.png) top right no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    background-size: 300px;
    border-left: 4px solid #5cbeef;
}

.gzsnbzh {
    background: url(remote.png) 169px 0px no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    background-size: 257px;
    border-left: 4px solid #67e1f5;
}

.lift {
    background: url(button.png) 212px 17px no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    border-left: 4px solid #fb7e4e;
}

.tolchok {
    background: url(tolchok.png) 178px -68px no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    background-size: 150px;
    border-left: 4px solid #a9c318;
}

.batareya {
    background: url(batareya.png) 164px 45px no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    background-size: 187px;
    border-left: 4px solid #eace68;
}

.el {
    background: url(el.png) 187px 14px no-repeat;
    background-color: white;
    color: black;
    height: 200px;
    background-size: 187px;
    border-left: 4px solid #ffeb00;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #565f65;
    border-color: #565f65;
    border-radius: 0;
    padding: 20px 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1e2529;
    border-color: #1e2529;
}

.dropdown-menu {
    border: 4px solid rgba(0, 0, 0, .15);
}

.counter {
    font-size: 64px;
    font-weight: bold;
    margin-top: 41px;
    line-height: 64px;
    display: block;
    transition: all 0.1s ease-in;
}

.desc {
    font-weight: bold;
    color: #727d82;
}

.jumbotron {
    padding: 2rem 3rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.listtasks tr:hover {
    cursor: pointer;
}

.listtasks tr:hover {
    box-shadow: -4px 0px 0px #6c818c;
    padding-left: 20px;
    padding-right: -24px;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #c6c8ca;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 0;
    padding: 20px 30px;
    border-radius: 0;
}

.progress {
    background-color: #d8dee2;
    border-radius: 0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d30000;
    border-color: #d30000;
}

main {
    box-shadow: #cfd6da 0px 10px 10px;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn {
    padding: 20px 30px;
}

.bclogo img {width:50px; padding-bottom:20px;margin-bottom:10px;    border-bottom: 3px solid #bfcad0;filter: grayscale(100);}
.bclogo:hover img {filter: grayscale(0);}


#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #fff;
    z-index: 30;}
     
    .contpre small{font-size:25px;}
     
    .contpre{
    width: 100%;
    height: auto;
    animation: anim 1s  ;
}
     
   
@keyframes anim {
    0% {
        transform: scale(0,5);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

